<!DOCTYPE html>
<html>
<head>
	<title>Login</title>

	<style type="text/css">
		body{
			width: 960px;
			height: 600px;
			margin: 0px auto;
			/*outline: 1px solid black;*/
		}

	</style>
</head>
<body>

	<section id="login" style=" width: 500px; height: 350px; text-align: center; margin: 150px auto 0px auto;">
		<form style="box-shadow: 0px 0px 3px 0px lightgray; padding: 20px; border-radius: 5px; margin: 5px;" (submit)="login($event)">
			<mat-form-field appearance="outline" color="primary">
				<mat-label>Username</mat-label>
				<input required matInput placeholder="Pleaser enter your username" type="text" id="username" [formControl]="userName">
				<mat-error *ngIf="userName.invalid">Username is <strong>required</strong></mat-error>
			</mat-form-field>

			<br>

			<mat-form-field appearance="outline">
				<mat-label>Password</mat-label>
				<input placeholder="Pleaser enter your password" matInput required type="password" id="password" [formControl]="password">
				<mat-error *ngIf="userName.invalid">Password is <strong>required</strong></mat-error>
			</mat-form-field>

			<br>

			<button mat-raised-button style="background-color: #000; color: #fff; width: 100px; " type="submit"><mat-icon>account_circle</mat-icon> LOGIN</button>


		</form>
	</section>
</body>
</html>
